<div class="container mt-5">
    <h2>Промените лозинку</h2>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldPassword">Стара лозинка</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" required>
        <div *ngIf="isControlInvalid('oldPassword')" class="text-danger">
          Стара лозинка је обавезна.
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">Нова лозинка</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
        <div *ngIf="isControlInvalid('newPassword')" class="text-danger">
          Нова лозинка је обавезна.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Поновите нову лозинку</label>
        <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" required>
        <div *ngIf="isControlInvalid('confirmNewPassword')" class="text-danger">
          Нове лозинке се не слажу.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 10px;" [disabled]="passwordChangeForm.invalid">Промените</button>
    </form>
  </div>
  