<div class="container mt-5 mb-5">
    <div #top></div>
    <h2>Савет родитеља</h2>

    <form *ngIf="isAdmin" [formGroup]="personForm" (ngSubmit)="savePerson()" class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="firstname" class="form-label">Име</label>
                <input id="firstname" formControlName="firstname" class="form-control" placeholder="Унесите име"
                    required>
            </div>

            <div class="col-md-4 mb-3">
                <label for="lastname" class="form-label">Презиме</label>
                <input id="lastname" formControlName="lastname" class="form-control" placeholder="Унесите презиме"
                    required>
            </div>

            <div class="col-md-4 mb-3">
                <label for="position" class="form-label">Радно место</label>
                <input id="position" formControlName="position" class="form-control" placeholder="Унесите радно место">
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Слика</label>
            <input type="file" id="image" (change)="onImageSelected($event)" class="form-control">
        </div>

        <button type="submit" class="btn btn-success me-2" [disabled]="personForm.invalid">Сачувај</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Рестартуј</button>
    </form>
    <div class="rules-container">
        <div class="row">
          <div class="col-md-6">
            <div class="single-row">Предлаже представнике родитеља, односно других законских заступника деце, односно ученика у орган управљања.</div>
            <div class="single-row">Предлаже свог представника у све обавезне тимове установе.</div>
            <div class="single-row">Учествује у предлагању изборних садржаја и у поступку избора уџбеника.</div>
            <div class="single-row">Разматра предлог школског програма, развојног плана, годишњег плана рада.</div>
            <div class="single-row">Разматра извештаје о остваривању програма образовања и васпитања, развојног плана и годишњег плана школе, спољашњем вредновању,
                 самовредновању, завршном испиту, резултатима националног и међународног тестирања и спровођење мера за обезбеђивање
                и унапређивање квалитета образовно-васпитног рада.</div>
            <div class="single-row">Разматра намену коришћења средстава од донација и од проширене делатности установе.</div>
          </div>
          <div class="col-md-6">
            <div class="single-row">Предлаже органу управљања намену коришћења средстава остварених радом ученичке задруге и прикупљених од родитеља, односно другог законског заступника.</div>
            <div class="single-row">Разматра и прати услове за рад установе, услове за одрастање и учење, безбедност и заштиту деце и ученика.</div>
            <div class="single-row">Учествује у поступку прописивања мера из члана 108. овог закона.</div>
            <div class="single-row">Даје сагласност на програм и организовање екскурзије, односно програме наставе у природи и разматра извештај о њиховом остваривању.</div>
            <div class="single-row">Предлаже представника и његовог заменика за локални савет родитеља.</div>
            <div class="single-row">Разматра и друга питања утврђена статутом.</div>
          </div>
        </div>
      </div>
      

    <div class="table-responsive">
        <h3 style="text-align: center;">Чланови савета родитеља:</h3>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Слика</th>
                    <th>Име</th>
                    <th>Презиме</th>
                    <th>Радно место</th>
                    <th *ngIf="isAdmin">Акција</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of personList">
                    <td class="text-center">
                        <img [src]="person.image?.imageUrl || 'default_profile.png'" alt="Profile Picture"
                            class="profile-pic img-fluid">
                    </td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                    <td>{{ person.position || 'N/A' }}</td>
                    <td *ngIf="isAdmin">
                        <button (click)="editPerson(person)" class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i> Уреди
                        </button>
                        <button (click)="deletePerson(person)" class="btn btn-sm btn-outline-danger">
                            <i class="fas fa-trash-alt"></i> Обриши
                        </button>
                        <button *ngIf="person.image!==null" (click)="deletePicture(person.id)" class="btn btn-sm btn-outline-danger">
                            <i class="fas fa-trash-alt"></i> Обриши слику
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>