<div>
    <h2>Историјат школе и школа данас</h2>
    <h3>Историјат школе</h3>
    <h5>Основна школа „Рајак Павићевић“</h5>
    <p>
        Далеке 1853. године доношењем решења Министарства просвете Кнежевине Србије у вези са отварањем школе у Бајиној
        Башти почиње 159
        година дуга историја школства у овом најпре сеоском насељу, а од 1856. године и варошице на десној обали Дрине.
        Већ наредне 1854.
        године доноси се одлука о подизању школске зграде, чији план је одобрен 1856. године од стране Министарства
        градње. Настава је
        почела 1858/59. године у згради Примиритељног суда, а од 1859. године у приватној кући Алексе Вукашиновића. За
        потребе школске 1899.
        године откупљена је „механа I класе“ Васе Илића за 15 000 динара. Поменута школска зграда, „мала месна школа“ ,
        налази се у опису
        аустријског путописца с` краја XIX века Феликса Каница, који оставља запис о варошици и крају кроз који је
        пропутовао упознавајући
        Краљевину Србију.
    </p>
    <p>
        Садашња школска зграда сазидана је у стилу неокласицизма 1931. године и до другог светског рата носила
        је име „Краљ Петар I Ослободилац“. После другог светског рата мења име у Основна школа „Рајак Павићевић“.
        Повећање броја ученика
        и осавремењивање наставе као и фунционалност школског простора наметнули су доградњу постојеће зграде 1958.
        -1963. године. Школа је
        у својој историји имала два прекида за време два светска рата ( током другог светског рата оштећења на згради
        износила су 40%).
    </p>
    <p>
        Просторије Основне школе „Рајак Павићевић“ током век и по постојања користили су : Женска занатска школа
        (1926-30), Грађанска школа
        (1938-41), Економска (1961.), Школа ученика у привреди (1962-67), Гимназија (1967-75). Данас школа располаже са
        28.782,18 м2 корисног
        простора и у свом саставу има 5 издвојених одељења: Пилица, Пепељ, Јасиковице, Црвица и Солотуша. Школа у
        Солотуши привремено не ради
        због недостатка деце.
    </p>
    <p>
        Разредну и предметну наставу изводи 56 учитеља и наставника, а школу похађа 807 ученика (подаци из 2013/2014.
        године). Школа располаже са ђачком кухињом, фискултурном салом, школском радионицом, спортским теренима,
        библиотеком са преко 16 000
        књига.
    </p>
    <h5>Рајак Павићевић (1918-1942.)</h5>
    <p>
        Рођен је у Бајиној Башти 02.9.1918. године. Основну школу је завршио у родном месту, а Гимназију и Учитељску
        школу у Ужицу.
        По одслужењу војног рока службовао у Шталковцу , код Кратова (Македонија), где га је и затекао Други светски
        рат. Кратко је био
        у заробљеништву, у Бугарској, одакле је и побегао у своју родну Бајину Башту. Потом је кратко учитељевао у
        Црвици. Кад је дигнут
        устанак против окупатора, прикључио се покрету и био један од његових главних предводника. Изненада је поново
        заробљен, јануара 1942.
        године, одведен на Бањицу и тамо стрељан 31.јула 1942. године.
    </p>
    <p>
        Као ђаку ове школе и истакнутом борцу за слободу, а у знак признања,
        25.5.1958. године , надлежни органи су донели одлуку да ова школа носи његово име.
    </p>
    <h5>ШКОЛА ДАНАС / 2023/2024. година</h5>
    <p>
        Наша школа у шк. 2023/ 2024. години има укупно 789 ученика у 39 одељења. Од тога 29 одељења је у матичној школи
        , а 10 у издвојеним одељењима Пилица (8), Црвица(1), Јасиковице(1).
    </p>
</div>