<div class="footer">
    <div class="footer-content">
        <p>Адреса: Улица Рајка Тадића бр. 10, 31250 Бајина Башта</p>
        <p>Централа: 031/865-174</p>
        <p>Директор: 031/863-785</p>
        <p>Рачуноводство: 031/866-430</p>
        <p>E-mail: <a href="mailto:rajak.pavicevic@osrpavicevic.edu.rs">rajak.pavicevic&#64;osrpavicevic.edu.rs</a></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/rajakbb" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/osrpavicevicbb" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</div>