<div class="footer">
    <div class="footer-content">
        <p>Адреса: Улица Рајка Тадића бр. 10, 31250 Бајина Башта</p>
        <p>Централа: <a href="tel:+38131865174">031/865-174</a> (Факс: <a href="fax:+38131863785">031/863-785</a>)</p>
        <p>Директор: <a href="tel:+38131863785">031/863-785</a></p>
        <p>Рачуноводство: <a href="tel:+38131866430">031/866-430</a> (Факс: <a href="fax:+38131866430">031/866-430</a>)</p>
        <p>E-mail: <a href="mailto:rajak.pavicevic@osrpavicevic.edu.rs">rajak.pavicevic&#64;osrpavicevic.edu.rs</a></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/rajakbb" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/osrpavicevicbb" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://prosveta.gov.rs/" target="_blank" title="Министарство просвете"><i class="fas fa-landmark"></i></a>
            <a href="https://zuov.gov.rs/" target="_blank" title="Завод за унапређивање образовања и васпитања"><i class="fa-solid fa-book-open-reader"></i></a>
        </div>
    </div>
</div>