<div class="container mt-3">
    <h2>Сви корисници</h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Име</th>
            <th scope="col">Презиме</th>
            <th scope="col">Корисничко име</th>
            <th scope="col">Рола</th>
            <th scope="col">Акција</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
                <input type="text" [(ngModel)]="user.editableFirstName" class="form-control" />
              </td>
              <td>
                <input type="text" [(ngModel)]="user.editableLastName"  class="form-control" />
              </td>
              <td>{{ user.username }}</td>
              <td>
                <input type="text" [(ngModel)]="user.editableRole" class="form-control" />
              </td>
              <td>
                <button (click)="editUser(user)" class="btn btn-sm btn-primary mr-2">Измени</button>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger">Избриши</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  