<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-md-12">
      <div *ngIf="pinnedNews?.length > 0" class="row">
        <div class="row mb-4">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <h4 class="fw-bold">Битне вести</h4>
          </div>
          <div class="col-md-4"></div>
        </div>
  
        <div *ngFor="let news of pinnedNews; let i = index" 
             [ngClass]="{'col-md-12': pinnedNews.length === 1, 'col-md-6': pinnedNews.length === 2, 'col-md-4': pinnedNews.length >= 3}" 
             class="mb-4">
          <div class="card h-100" style="background-color: #d1faff;">
            <div *ngIf="isAdmin" class="position-absolute top-0 end-0 p-2 d-flex">
              <i class="bi me-2" 
                 [ngClass]="news.pinned ? 'bi-pin-angle-fill' : 'bi-pin-angle'" 
                 (click)="togglePin(news.id)"
                 style="cursor: pointer; font-size: 1.5rem; color: #f39c12;">
              </i>
              <i class="bi bi-trash" 
                 (click)="deleteNews(news.id)" 
                 style="cursor: pointer; font-size: 1.5rem; color: #dc3545;">
              </i>
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text text-muted mb-2">{{ mapNewsTypes([news.type]) }}</p>
              <p class="card-text flex-grow-1">{{ news.content | slice:0:150 }}...</p>
              <a (click)="goToNewsAndUpdateClick(news.id)" class="btn btn-info">Прочитајте још</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
              <small>{{ news.dateTime | date: 'short' }}</small>
              <div>
                <small><i class="bi bi-eye"></i> {{ news.clicks }} </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-12 col-sm-6 col-md-4 mb-2" *ngIf="isAdmin">
      <input type="text" class="form-control" placeholder="Претражи по наслову" [(ngModel)]="searchTerm" (input)="searchNews()">
    </div>
  
    <div class="col-12 col-sm-6 col-md-6 mb-2" *ngIf="!isAdmin">
      <input type="text" class="form-control" placeholder="Претражи по наслову" [(ngModel)]="searchTerm" (input)="searchNews()">
    </div>
  
    <div class="col-12 col-sm-6 col-md-2 mb-2">
      <select class="form-select" [(ngModel)]="selectedType" (change)="searchNews()">
        <option value="">Изаберите тип</option>
        <option *ngFor="let type of mappedNewsTypes" [value]="cyrilicToLatin(type)">{{ type }}</option>
      </select>
    </div>

    <div class="col-12 col-md-6 text-md-end d-flex justify-content-md-end flex-wrap" *ngIf="isAdmin">
      <a [routerLink]="['/neodobreni-komentari']" class="btn btn-secondary mb-2 me-2">Неодобрени коментари</a>
      <a [routerLink]="['/neodgovoreni-komentari']" class="btn btn-secondary mb-2 me-2">Коментари без одговора</a>
      <a [routerLink]="['/kreiraj-obavestenje']" class="btn btn-success mb-2">Ново обавештење</a>
    </div>
  </div>
  


  <div class="row">
    <div class="col-md-12">
      <div *ngIf="filteredNews?.length > 0" class="row">
        <div class="row mb-1">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <h4 class="fw-bold">Остале вести</h4>
          </div>
          <div class="col-md-4"></div>
        </div>

        <div class="row">
          <div class="col-md-2 mb-2">
            <div class="form-check">
              <label class="form-check-label" for="popularCheckbox">Популарно</label>
              <input type="checkbox" class="form-check-input" id="popularCheckbox" [(ngModel)]="mostPopular"
                (change)="searchNews()">
            </div>
          </div>
        </div>

        <div *ngFor="let news of filteredNews" class="col-md-4 mb-4">
          <div class="card h-100">
            <div *ngIf="isAdmin" class="position-absolute top-0 end-0 p-2 d-flex">
              <i class="bi me-2" 
                 [ngClass]="news.pinned ? 'bi-pin-angle-fill' : 'bi-pin-angle'" 
                 (click)="togglePin(news.id)"
                 style="cursor: pointer; font-size: 1.5rem; color: #f39c12;">
              </i>
              <i class="bi bi-trash" 
                 (click)="deleteNews(news.id)" 
                 style="cursor: pointer; font-size: 1.5rem; color: #dc3545;">
              </i>
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text text-muted mb-2">{{mapNewsTypes( [news.type]) }}</p>
              <p class="card-text flex-grow-1">{{ news.content | slice:0:150 }}...</p>
              <a (click)="goToNewsAndUpdateClick(news.id)" class="btn btn-info">Прочитајте још</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
              <small>{{ news.dateTime | date: 'short' }}</small>
              <div>
                <small><i class="bi bi-eye"></i> {{ news.clicks }} </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="newsPage?.empty" class="d-flex justify-content-center align-items-center min-vh-100"><span
          class=" alert alert-info">Није пронађено ниједно обавештење.</span></div>
    </div>
  </div>


  <nav class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center ms-3">
        <label for="pageSizeSelect" class="me-1 mb-0">
          <span class="text-label">Величина <br>странице:</span>
        </label>
        <select id="pageSizeSelect" class="form-select-sm me-3" [(ngModel)]="pageSize"
          (change)="updatePageSize($event)">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
      </div>
      <ul class="pagination mb-0">
        <li class="page-item" [class.disabled]="newsPage?.first">
          <a class="page-link" (click)="changePage(currentPage - 1)">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
        </li>
        <li class="page-item number-of-pages-big"
          *ngFor="let page of [].constructor(newsPage?.totalPages); let i = index" [class.active]="i === currentPage">
          <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
        </li>
        <li class="page-item number-of-pages-small" [class.active]="true">
          <a class="page-link">{{currentPage}}</a>
        </li>
        <li class="page-item" [class.disabled]="newsPage?.last">
          <a class="page-link" (click)="changePage(currentPage + 1)">
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="text-end">
      <button class="btn btn-light" (click)="sortNewsByDate()">
        <span class="text-label">По датуму</span>
        <span [ngClass]="{ 'text-success': sortDir === 'asc', 'text-danger': sortDir === 'desc' }">
          <i class="bi" [ngClass]="sortDir === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
        </span>
      </button>
    </div>
  </nav>

</div>