<nav class="navbar navbar-expand-lg bg-body-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/pocetna" (click)="onLogoClick($event)"><img src="logo.png" alt="logo skole"
        class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- LEFT SIDE -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            О нама
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/istorija">Наши а успешни</a></li>
            <li><a class="dropdown-item" routerLink="/istorija">Носиоци вукове дипломе</a></li>
            <li><a class="dropdown-item" routerLink="/istorija">Запослени</a></li>
            <li><a class="dropdown-item" routerLink="/istorija">Школски одбор</a></li>
            <li><a class="dropdown-item" routerLink="/istorija">Савет родитеља</a></li>
            <li><a class="dropdown-item" routerLink="/istorija">Историја школе</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/obavestenja">Обавештења</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Распоред часова
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/raspored-casova-rajak">Рајак Павићевић - матична школа</a></li>
            <li><a class="dropdown-item" routerLink="/raspored-casova-pilica">ИО Пилица</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Документа
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/dokumenta-skole">Документа школе</a></li>
            <li><a class="dropdown-item" routerLink="/normativna-akta">Нормативна акта</a></li>
            <li><a class="dropdown-item" routerLink="/javne-nabavke">Јавне набавке</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Педагошко<br>психолошки кутак
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/normativna-akta">Ученици</a></li>
            <li><a class="dropdown-item" routerLink="/normativna-akta">Родитељи</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/obavestenja">Закажите<br>састанак</a>
        </li>
      </ul>


      <!-- RIGHT SIDE -->
      <div *ngIf="!isAuthenticated" class="icon-button">
        <button class="btn btn-outline-success" type="button" routerLink="/prijavi-se">Пријави се</button>
      </div>

      <div class="icon-button" *ngIf="isAdmin" routerLink="/upravljanje-korisnicima">
        <i class="fa-solid fa-user-group"></i>
        <span class="icon-tooltip tooltip-yellowish">Управљање корисницима</span>
      </div>

      <div class="icon-button" *ngIf="isAuthenticated" routerLink="/upravljanje-profilom">
        <i class="fa-solid fa-user"></i>
        <div *ngIf="numberOfNotifications>0" class="notification-container">
          <span class="notification-badge">{{ numberOfNotifications }}</span>
        </div>
        <span class="icon-tooltip tooltip-blue">Профил</span>
      </div>
      

      <div class="icon-button" *ngIf="isAuthenticated" (click)="logOut()" title="Одјави се">
        <i class="fa-solid fa-circle-xmark"></i>
        <span class="icon-tooltip tooltip-red">Одјави се</span>
      </div>
    </div>
  </div>
</nav>
<div class="fly-by" *ngIf="showFlyBy">
  <div>
    <img src="logo.png" alt="logo skole" class="logo" style="size: 300px;">
  </div>
  <div class="styled-text">
    <h1>Хвала на пажњи!</h1>
  </div>
</div>