<div class="home-page">
    <swiper-container loop="true" navigation="true" pagination="true" autoplay="true" speed="1500" class="home-slider">
        <swiper-slide class="image-slide">
            <img src="slide-2.jpg" />
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-1.jpg" />
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-3.jpg" />
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-4.jpg" />
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-5.jpg" />
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-6.jpg" />
        </swiper-slide>
    </swiper-container>

    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="stat-item">
                    <div class="text-center">
                        <h2 id="years" class="display-4">0</h2>
                        <p class="lead">Година рада</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 mb-4 about-school">
                Основна школа "Рајак Павићевић" је установа са дугом традицијом у образовању и васпитању деце. Наша
                школа настоји да својим ученицима
                пружи квалитетно знање и вештине које ће им бити основа за даље школовање и лични развој. У фокусу нашег
                рада су дете и његове индивидуалне потребе,
                а кроз разноврсне активности и наставни програм подстичемо креативност, радозналост и љубав према учењу.
            </div>
            <hr>
            <div class="col-md-6 mt-4 mb-4 text-end about-school">
                Наш наставни кадар чине стручни и посвећени учитељи и наставници, који својим искуством и преданошћу
                мотивишу ученике да постигну успех.
                Школа је опремљена савременим учионицама, библиотеком, информатичким кабинетом и спортским теренима, што
                омогућава свеобухватан развој ученика
                у безбедном и подстицајном окружењу.
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="stat-item">
                    <div class="text-center">
                        <h2 id="workers" class="display-4">0</h2>
                        <p class="lead">Број запослених</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class=" stat-item">
                    <div class="text-center">
                        <h2 class="display-4">0</h2>
                        <p class="lead">Број ученика</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 mb-4 about-school">         
                Наша школа је поносна на бројне успехе својих ученика на разним такмичењима. Ученици редовно учествују у 
                конкуренцијама различитог типа, где демонстрирају своје вештине и таленат. Ови успеси не само да потврђују
                 труд и посвећеност наших ученика, већ и стварају позитивну атмосферу у школи, подстичући све да теже новим изазовима.
                  Подржавамо наше ученике у сваком кораку, пружајући им неопходну подршку и охрабрење да постигну своје циљеве.
            </div>
            <hr>
            <div class="col-md-6 mt-4 mb-4 text-end about-school">
                Наш циљ је да сваки ученик у школи "Рајак Павићевић" стекне не само знање, већ и вредности које ће га
                обликовати
                у одговорну и свестрану личност, спремну за све изазове будућности.
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class=" stat-item">
                    <div class="text-center">
                        <h2 class="display-4">0</h2>
                        <p class="lead">Број одељења</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>