<div class="home-page">
    <swiper-container loop="true" navigation="true" pagination="true" autoplay="true" speed = "1500" class="home-slider">
        <swiper-slide class="image-slide">
            <img src="slide-2.jpg">
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-1.jpg">
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-3.jpg">
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-4.jpg">
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-5.jpg">
        </swiper-slide>
        <swiper-slide class="image-slide">
            <img src="slide-6.jpg">
        </swiper-slide>
    </swiper-container>
    <h1>Основна школа ''Рајак Павићевић''</h1>
</div>