.home-page{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home-slider{
    z-index: 0;
    width: 80%;
}

.image-slide img{
    width: 100%;
    max-height: 70hv;
}

@media screen and (max-width: 900px) {
    .home-slider{
        width: 100%;
    }
}