<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Регистрација</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstname">Име</label>
              <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Унесите име">
              <div *ngIf="registrationForm.get('firstname').invalid && registrationForm.get('firstname').touched" class="text-danger">
                Име је обавезно.
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">Презиме</label>
              <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Унесите презиме">
              <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched" class="text-danger">
                Презиме је обавезно.
              </div>
            </div>
            <div class="form-group">
              <label for="username">Корисничко име</label>
              <input type="text" class="form-control" id="username" formControlName="username" placeholder="Унесите корисничко име">
              <div *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched" class="text-danger">
                Корисничко име је обавезно.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Лозинка</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Унесите лозинку">
              <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched" class="text-danger">
                Лозинка мора бити најмање 8 карактера.
              </div>
            </div>
            <div class="form-group">
              <label for="repeatPassword">Поновите лозинку</label>
              <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword" placeholder="Поновите лозинку">
              <div *ngIf="registrationForm.get('repeatPassword').invalid && registrationForm.get('repeatPassword').touched" class="text-danger">
                <div *ngIf="registrationForm.get('repeatPassword').errors?.['passwordMismatch']">
                  Лозинке се не подударају.
                </div>
                <div *ngIf="registrationForm.get('repeatPassword').errors?.['required']">
                  Поновите лозинку је обавезно.
                </div>
              </div>
            </div>
            <div *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="registrationForm.invalid">Креирај налог</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
